.header {
  padding: 145px 0 300px;
  background: url("../img/header-bg.jpg");

  &-title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 44px;
    line-height: 59.81px;
    color: #fff;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 100px 0 300px;
  }
}